@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<ul>
			<li>@Html.ActionLink("Throw System.Exception (should report)", "throw", "error")</li>
			<li>@Html.ActionLink("Throw System.ApplicationException (should NOT report)", "throwAppEx", "error")</li>
		</ul>
	</div>
</body>
</html>
